<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table { width: 100%; border-collapse: collapse; }
        th, td { padding: 8px; border: 1px solid #ddd; text-align: left; }

    </style>
</head>
<body>
    <a href="/admin">Back <</a>
    <h1>Site {{site_id}} Panel</h1>
    <div class="table-section">
        <div class="title"><h2>Sites</h2><button onclick="loadSites();">update</button></div>
        <div id="sites-list"></div>
        <!-- Аналогичные секции для других таблиц -->
    </div>
<script src="/static/script.js"></script>
<script>
$(document).ready(function() {
        loadSites();
    });
</script>
<script>
    function loadSites() {
        $.get("/site/{{site_id}}", function(data) {
            let html = `<table>
                        <tr><th>ID</th><th>Name</th><th>URL</th><th>Filename</th></tr>`;
            console.log(data);
            html += `<tr>
                <td class="site-id-${data['site'].id}">${data['site'].id}</td>
                <td class="site-name-${data['site'].id}"><a href="/site/${data['site'].id}">${data['site'].name}</a></td>
                <td class="site-url-${data['site'].id}"><a href="${data['site'].url}">${data['site'].url}</a></td>
                <td class="site-file-${data['site'].id}">${data['site'].filename}</td>
                <td class="site-update-${data['site'].id}"><button onclick='updateSiteBtn(${data['site'].id});'>✏️</button></td>
                <td class="site-delete-${data['site'].id}"><button onclick='deleteSite(${data['site'].id});'>-</button></td>
            </tr>`;

            html += `<tr><th>Id категории</th><th>Имя категории</th><th>Паттерн названия</th></tr>
                     <tr><th>Id род. категории</th><th>Имя род. категории</th><th>Паттерн описания</th></tr>`;
            data['categories'].forEach(category => {
                html += `<tr>
                    <td class="category-id-${category.id}">${category.id}</td>
                    <td class="category-name-${category.id}">${category.name}</td>
                    <td class="category-product-${category.id}">`;
                category.products.forEach(product => {
                    html += `${product.name}, `;
                });
                html += `</td>
                        <td class="category-update-${category.id}"><button onclick='updateCategoryBtn(${category.id});'>✏️</button></td>
                        </tr>
                        <tr>
                        <td class="category-parent-id-${category.id}">${category.parent_id}</td>
                        <td class="category-parent-name-${category.id}">`;
                if (category.parent) {
                    html += `${category.parent.name}`;
                } else{
                    html += '-';
                }
                html += `</td>
                        <td class="category-description-${category.id}">`;
                category.descriptions.forEach(description => {
                    html += `${description.text}, `;
                });
                html += `</td>
                        <td class="category-delete-${category.id}"><button onclick='deleteCategory(${category.id});'>-</button></td>
                    </tr>`;
            });
            html += `<tr>
                <td></td>
                <td><input class='new-category-name' name='new-category-name' placeholder="введите название категории"></td>
                <td><input class='new-category-parent-id' name='new-category-parent-id' placeholder="введите ид род. категории"></td>
                <td><button onclick='createCategory(${data['site'].id});'>+</button></td></tr></table>`;
            $("#sites-list").html(html);
        });
    }
</script>
</body>
</html>
